html, body {
	background: #fff;
	font-family: "Helvetica Neue", Verdana, sans-serif;
}

.item {

}
.item__title {
	display: block;
}

.header {
	height: 47px;
}

.header__fixed {
	background: #3661A2;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	position: fixed;
	height: inherit;
	top: 0;
	left: 0;
	right: 0;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header a {
	display: block;
	padding: 14px 15px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	float: left;
}

.header a.active {
	background: #2C538C;
	font-weight: 700;
	color: #fff;
}

.item {

}

.item__title {
	font-size: 20px;
	margin-bottom: 5px;
	text-decoration: none;
	color: #3D77CB;
}

.item__description {
	color: rgba(0, 0, 0, 0.4);
}

.pagination {
	list-style: none;
	margin: 10px 10px;
	padding: 0;
	overflow: hidden;
}
.pagination li {
	float: left;
}

.pagination a {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 3px;
	color: #262626;
	font-weight: 500;
	margin-right: 10px;
}


.posts {
	list-style: none;
	margin: 0;
	padding: 10px 15px;
}

.posts li {
	margin-bottom: 20px;
}

.post {
	padding: 10px 15px;
}

.post__title {
	font-size: 24px;
	text-decoration: none;
	display: block;
	color: #3D77CB;
}

.post__description {
	display: block;
	margin-bottom: 30px;
}


.comments {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comments .comments {
	margin-top: 20px;
}

.comments li {
	background: rgba(0, 0, 0, 0.05);
	padding: 10px 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.comments li + li {
	margin-top: 20px;
}